$main-bgc-color: #ccc;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.root {
  color: rgb(182, 50, 50);
  height: 88px;
  /* color: var(--main-bgc-color); */
}
body {
  height: 100vh;
  background-color: #f8f9f9;
  // background-color: $main-bgc-color;
  // font-size: 20px !important;
}
